# --- NetBeans (Ant) ---
nbproject/private/
# Không loại bỏ thư mục build nữa để GitHub có thể lấy code đã biên dịch
# build/
dist/
nbdist/
.nb-gradle/

# --- Maven (Nếu lỡ dùng) ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# --- Gradle (Nếu lỡ dùng) ---
.gradle/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# --- IDE khác (IntelliJ / Eclipse - Phòng hờ bạn khác dùng) ---
.idea/
*.iml
.settings/
.classpath
.project

# --- File chạy & Nén ---
# *.class
*.war
*.ear
*.zip
*.tar.gz
*.rar

# --- Hệ điều hành ---
.DS_Store
Thumbs.db

# --- NGOẠI LỆ (QUAN TRỌNG: Giữ lại thư viện) ---
!libs/*.jar
!Hotelll/build/web/WEB-INF/lib/*.jar
/Hotelll/nbproject/private/

# ==========================================
# --- PYTHON (API CHATBOT & PREDICT) ---
# ==========================================
# Bỏ qua thư mục môi trường ảo (Rất nặng, không đẩy lên Git)
ai_prediction_api/venv/
ai_prediction_api/__pycache__/
*.pyc
.pytest_cache/

# BẢO MẬT: TUYỆT ĐỐI BỎ QUA FILE CHỨA MẬT KHẨU & API KEY
ai_prediction_api/.env
.env
